@import url("reset.css");

/* Regra Geral */

body {
    font-family: "Arial";
    color: #000001;
    background-image: url("../img/background.png");
}

h2 {
    border-bottom: solid 2px #000001;
    margin-top: 30px;
    font-size: 1.2em;
}

p {
    margin-top: 15px;
    padding-left: 45px;
    padding-right: 45px;
    line-height: 1.5em;
}


/*************************************************************************************/

/* Todas as Div */

div#container {
    margin: auto;
    width: 940px;
}

/*************************************************************************************/


/* Toda Conf do Header */

header h1 a {
    height: 134px;
    width: 130px;
    display: block;
    text-indent: -9999px;
    background-image: url("../img/logo_GK.png");
    margin-left: 40px;
}

/*************************************************************************************/


/* Toda Conf de Figure */

figure {
    background-color: #f2EDED;
    border: solid 1px #f2EDED;
    align-self: center;
    padding: 15px;
    margin: 30px;
}

figure figcaption {

    margin-top: 10px;
    text-align: center;
}

figure#centro-distribuicao {
    margin: auto;
    width: 550px;
}

figure#familia-teles{
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}

/*************************************************************************************/

/* Toda Conf de Lista */

ul#dif_ul{
    margin-top: 15px;
    margin-right: 60px;
}

/*************************************************************************************/


/* Toda Conf de Links */

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
}

#dif-title a,#sobre-title a ,#hist-title a {

    color: #000001;
}


/*************************************************************************************/

/* Toda Conf do Rodapé */

footer {
    color: #ccc;
    margin-top:30px;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
    background-image: url("../img/fundo-rodape.png");
    clear: both;
}

footer img {
    vertical-align: middle;
    margin-left: 30px;
}

.caixa-footer{
    position: relative;
    padding: 20px;
}

.social a {
    width: 32px;
    height: 32px;
    display: inline-block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"]{
    background-image: url("../img/sociais.png") ;

}

.social a[href*="twitter.com"]{
    background-image: url("../img/sociais.png");
    background-position: -88px 0;
}

.social a[href*="plus.google.com"]{
    background-image: url("../img/sociais.png");
    background-position: -44px 0;
}

.social {
    position: absolute;
    top: 30px;
    right: 20px;

}

.social li {
    display: inline;
}

/*************************************************************************************/


/************** CSS para index **************/


header {

position: relative;
}

/* Conf de Classes */

.sacola {
    
    background-image: url("../img/sacola.png");
    background-repeat: no-repeat;
    text-align: right;
    width: 140px;
    position: absolute;
    right: 0;
    top: 0;

}

.menu-principal {
    position: absolute;
    right: 0;
    bottom: 0;
}

.menu-principal li {

    display: inline-block;
    text-decoration: none;
    padding: 5px;

}

.menu-principal a {

    text-decoration: none;
    color: #000001;

}

.menu-principal a:hover {

    text-decoration: underline;
    color: red;
}

.busca ,.menu-departamento {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
}

.menu-departamento {

    clear: both;
    margin-top: 10px;
    padding-bottom: 10px;
}

.busca h2 ,.busca form,.menu-departamento h2  {
    margin: 10px;
}

.busca {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.busca input{
    vertical-align: middle;
}

.busca form input[type='search'] {
    width: 170px;
    height: 25px;
    border-radius: 10px;
}
.caixa-destaque {
    margin-top: 10px;
}

.menu-departamento li {

    background-color: #ffffff;
    margin-bottom: 1px;
    padding: 5px 10px;
    list-style: none;
}
.menu-departamento a{
    color: gray;
    text-decoration: none;
}

.menu-departamento li ul {
    display: none;
}

.menu-departamento li:hover ul{
    display: block;
}

.menu-departamento ul ul li {
    background-color: #dcdcdc;
}
.menu-departamento li li a:before {
    content: '\272A';
    padding-right: 3px;
}

/*  Menu de Vendas */

.painel {
    margin: 10px 0 10px 0;
    padding: 10px;
    width: 445px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px #888888;
}
.painel h2 {

    text-shadow: 2px 2px 2px rgba(255,255,255,0.8);

}

.painel h2:before {

    content: '\2756';
    padding-right: 5px;
    opacity: 0.4;
}

.novidades {

    float: left;
    background-color: #f5dcdc;
    background: linear-gradient(#f5dcdc,#bebef4);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5);
    width: 445px;
}

.mais-vendidos {

    float: right;
    background-color: #dcdcf5;
    background: linear-gradient(#dcdcf5,#f4bebe);
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5);
    width: 445px;

}

.painel li {

    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
    transition: 0.7s ease-out;
}

.painel li:hover {

    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(255,255,255,0.8);
    transform: scale(1.2) rotate(-5deg);
    transition: 0.7s ease-in;
}

.painel a{

    color: #333;
    text-align: center;
    text-decoration-line: none;
}

.painel figure,.painel figcaption {

    margin: 0;
    padding: 0;
}

.painel ol {
    padding: 0;
}


/*************************************************************************************/

/* Css Para Pagina de Contato */


#contatoForm li {

    list-style: none;
    line-height: 2.5em;
    padding: 10px;
}


#contatoForm input[type*="text"] , #contatoForm input[type*="email"]{
    width: 400px;
    height: 20px;
}

#contatoForm input[type*="submit"] {

    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-bottom: 20px;
}

/*************************************************************************************/

/* Css Para Pagina de Cartão Fidelidade */

#fidelidade tr {

    text-align: center;
}

#fidelidade td {
    padding: 4px;
    border: 2px solid #000001;
    background-color: #fffff5;
}

#fidelidade h2{

    border: none;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 10px;

}

