

div#container {
    width: 96%;
}

/* Conf Index */

header h1 a {
    text-align: center;
    margin: auto;
}

header h1 img {
    max-width: 50%;
}

.sacola {
    display: none;
}

.menu-principal {
    position: static;
    text-align: center;
}

.menu-principal ul li {
    display: inline-block;
    margin: 5px;
}

.busca, .menu-departamento{
    margin-right: 0;
    width: 100%;
}

.caixa-destaque img#destaque {
    margin-right: 0;
    width: 100%;
}

.painel {
    width: auto;
}

.painel li {
    width: 30%;
}

.painel img {
    width: 100%;
}

/*************************************************************************************/


/* Toda Conf de Figure */

figure {
    background-color: #f2EDED;
    border: solid 1px #f2EDED;
    align-self: center;
    padding: 15px;
    margin: 30px;
    width: auto;

}

figure figcaption {

    margin-top: 10px;
    text-align: center;
}

figure#centro-distribuicao {
    width: auto;
}

figure#centro-distribuicao img {
    width: 100%;
}

figure#familia-teles img{
    width: 100%;
}

ul#dif_ul{
    margin-left: 30px;
}
/*************************************************************************************/

#fidelidade tr {

    text-align: left;
}

#fidelidade td p {
    padding: 0;
    margin: 0;
}

/*************************************************************************************/

#contatoForm input[type*="text"] , #contatoForm input[type*="email"]{
    width: 100%;
}